body {
	font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
		Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	color: #333;

	/* 高度塌陷修复 */
	.clearfix::before,
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}
  background-color: #f3f3f3;
	/*---------------- head部分---------------- */
	.header {
		/* 固定容器的宽度 */
		width: 1226px;
		/* 设置容器居中 */
		margin: 0 auto;
		box-sizing: border-box; //IE盒模型
	}



  /*---------------- 脚部---------------- */
}
