@font-face {
	/* 指定字体的名字 */
	font-family: "myfont";
	/* 服务器中字体的路径 */
	src: url("../fonts/FZSuHJW.TTF") format("truetype");
}
body {
	$size: 65px; //qrcode

	font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei,
		Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	color: #333;

	/* 高度塌陷修复 */
	.clearfix::before,
	.clearfix::after {
		content: "";
		display: table;
		clear: both;
	}
	i {
		padding: 0 4px;
	}
	a {
		color: #f3f3f3;
		text-decoration: none;
		&:hover {
			color: #8dc742;
		}
	}
	background-color: #f3f3f3;
	/*---------------- head部分---------------- */
	.contain {
		/* 固定容器的宽度 */
		width: 1226px;
		/* 设置容器居中 */
		margin: 0 auto;
		box-sizing: border-box; //IE盒模型
	}
	.header {
		border-bottom: 1px solid rgb(220, 220, 220);
	}
	.head {
		background: linear-gradient(to right, #1d99e3, rgb(134, 191, 50));
	}
	.header-footer {
		background-color: #f3f3f3;
		.header-footer-footer {
			/* 固定容器的宽度 */
			width: 1226px;
			/* 设置容器居中 */
			margin: 0 auto;
			height: 40px;
			display: flex;
			justify-content: space-between;
			a {
				
				border-right: 1px solid #616161;
				color:  rgb(134, 191, 50);
				padding: 11px 40px;
				&:hover {
					background-color: #f3f3f3;
				}
			}
			ol {
				display: flex;
				width: 100%;
				align-self: center;
			}
			.classification {
				width: 124px;
				display: flex;
				justify-content: center;
				align-items: center;
				a {
					padding: 13px 32px;
				}
			}
			.footer-bar {
				display: flex;
				justify-content: flex-end;
				.topbar {
					&:first-child{
						
					}
					width: 1000px;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}

		
	}
	.header-box {
		color: #f3f3f3;
		.header-top {
			height: 24px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			font-size: 14px;
			color: #f3f3f3;
			.header-left {
				width: 150px;
				height: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			.header-right {
				height: 100%;
				width: 480px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		.header-body {
			height: 95px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.logo {
				height: 100%;
			}
			.header-body-right {
				width: 270px;
				display: flex;
				justify-content: space-between;
			}
			.search {
				position: relative;
				.search {
					box-sizing: border-box;
					width: 540px;
					float: left;
					padding: 0 10px;
					height: 44px;
					font-size: 16px;
					border: 5px solid #8dc742;
					border-right: 6px solid #fff;
					border-left: 6px solid #fff;
					outline: none;
					color: rgb(195, 195, 195);
				}
				.search-btn {
					color: rgb(195, 195, 195);
					height: 44px;
					width: 52px;
					padding: 0;
					border: none;
					background-color: #fff;
					color: #616161;
					font-size: 16px;
					border: 1px solid rgb(224, 224, 224);
					border-left: none;
				}
				.camera {
					color: rgb(200, 200, 200);
					position: absolute;
					top: 14px;
					right: 55px;
				}
			}
		}

		/*---------------- qrcode---------------- */
		.qr {
			position: relative;
			top: 8px;
			right: -40px;
			height: 100%;
			p {
				display: flex;
				justify-content: center;
				font-size: 10px;
			}
			&:hover {
				color: #f3f3f3;
			}
		}
		.scan {
			position: relative;
			display: flex;
			align-items: center;
			flex-direction: column;

			.broder {
				position: absolute;
				inset: 0;
				background: url(../img/Qrcode/border.png);
				background-size: $size;
				background-repeat: no-repeat;
				animation: animateText 2s linear infinite;
			}

			.qrcode {
				position: relative;
				width: $size;
				height: $size;
				background: url(../img/Qrcode/QR_Code01.png);
				background-size: $size;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					background: url(../img/Qrcode/QR_Code02.png);
					background-size: $size;
					overflow: hidden;
					animation: animate 4s ease-in-out infinite;
				}
				&::after {
					content: "";
					position: absolute;
					inset: 8px;
					width: calc(100% - 15px);
					height: 2px;
					background: #35fd5c;
					filter: drop-shadow(0 0 20px #35fd5c) drop-shadow(0 0 60px #35fd5c);
					animation: animateLine 4s ease-in-out infinite;
				}
			}
		}
		@keyframes animate {
			0%,
			100% {
				height: 20px;
			}
			50% {
				height: calc(100% - 20px);
			}
		}
		@keyframes animateLine {
			0% {
				top: 0;
			}
			50% {
				top: calc(100% - 20px);
			}
		}
		@keyframes animateText {
			0%,
			100% {
				opacity: 0;
			}
			50% {
				opacity: 1;
			}
		}
	}
	/*---------------- 脚部---------------- */
	.footer-head {
		background-image: linear-gradient(to right, #1d99e3, rgb(134, 191, 50));
		.footer-header {
			/* 固定容器的宽度 */
			width: 1226px;
			/* 设置容器居中 */
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			align-items: center;
			height: 200px;
			.introduce {
				position: relative;
				width: 120px;
				height: 120px;
				border: 1px solid #f3f3f3;
				border-radius: 50%;
				i {
					position: absolute;
					top: 50px;
					left: 50px;
					transform: scale(3.5, 3.5);
					color: #f3f3f3;
				}
				.foolter-header-title {
					font-family: "myfont";
					font-size: 22px;
					position: absolute;
					top: -25px;
					left: 42px;
					color: #f3f3f3;
				}
			}
		}
	}
	.footer-head-body {
		background-image: linear-gradient(to right, #1d99e3, rgb(134, 191, 50));
		.footer-header-body {
			/* 固定容器的宽度 */
			width: 1226px;
			/* 设置容器居中 */
			margin: 0 auto;
			display: flex;
			justify-content: space-around;
			align-items: center;
			span {
				position: relative;
				top: -30px;
				left: 5px;
				width: 170px;
				color: #f3f3f3;
				font-size: 14px;
			}
		}
	}
	.footer-body {
		background-color: rgb(64, 64, 64);
		.about {
			padding-top: 10px;
			height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				color: #000;
				margin: 0 18px;
			}
		}
	}
	.foolter-bootm {
		padding-top: 10px;
		background-color: rgb(64, 64, 64);
		color: #f3f3f3;
		font-size: 14px;
		.infor {
			text-align: center;
			li {
				padding-top: 5px;
			}
		}
	}
}
