$bule-color: #1d99e3;
$green-color: rgb(134, 191, 50);
$black-color: #616161;
$grey-color: #ccc;
$words-color:#f3f3f3;
$huihei-color:#434343;
$hover-black:#404040;
$black-color1:#333333;
$white-color:#fff;
$green-1:#06c152;
$red-1: #E24329
$bule-1:#3182F6;