$bule-color: #1d99e3;
$green-color: rgb(134, 191, 50);
$black-color: #616161;
$grey-color: #ccc;
$words-color:#f3f3f3;
$huihei-color:#434343;
$hover-black:#404040;
$white-color:#fff;
$green-color1:#06c152;