@import "./color";
body {
	.box-qr {
		position: fixed;
		top: 11.25rem;
		left: 1.5625rem;
		width: 4.625rem;
		height: 5.5rem;
		border: .0625rem solid #ccc;
		font-size: .75rem;
		text-align: center;
		color: $black-color;
		/* display: block; */
	}

	.box-qr img {
		width: 3.75rem;
		margin-top: .3125rem;
	}

	.close-btn {
		position: absolute;
		top: -0.0625rem;
		left: 4.625rem;
		width: .5rem;
		height: .875rem;
		border: .0625rem solid #ccc;
		border-left: none;
		line-height: .875rem;
		font-family: Arial, Helvetica, sans-serif;
		cursor: pointer;
	}
	// 弹出广告
	.ad {
		position: fixed;
		z-index: 999;
		top: 6.25rem;
		left: 31.25rem;
	}
	.aixinzhunong,
	.guanyuwomen,
	.caigoudating {
		display: none;
	}
	.left-menu {
        .menu-btn{
            &:hover .more-box-hover{
                display: block;/*这里把里面的内容显示出来*/
            }
        }
		.more-box-hover {
            
            display: none;
			width: 50.625rem;
			position: absolute;
			left: 14.625rem;
			top: 0;
			z-index: 24;
			border: .0625rem solid #e0e0e0;
			border-left: 0;
			background: #fff;
			-webkit-box-shadow: 0 .5rem 1rem rgb(0 0 0 / 18%);
			box-shadow: 0 .5rem 1rem rgb(0 0 0 / 18%);
			height: 17.875rem;
			padding: .125rem 0;
			.more-box-head {
				float: left;
				width: 16.5625rem;

				margin: 0;
				a {
					color: $black-color;
					position: relative;
					float: left;
					width: 12.5rem;
					height: 3.5625rem;
                    span{
                        display: block;
                        margin-top: .375rem;
                    }
                    &:hover{
                        cursor: pointer;
                        color: $words-color;
                        transition: all .2s;
                    }
				}
				img {
					float: left;
                    margin:.3125rem .9375rem 0 1.6875rem ;
					vertical-align: middle;
					width: 2.8125rem;
				}
			}
		}
	}
}
