@import "./color";
body {
	.box-qr {
		background-color: $words-color;
		position: fixed;
		
		z-index: 9999;
		top: 180px;
		left: 25px;
		width: 74px;
		height: 88px;
		border: 1px solid #ccc;
		font-size: 12px;
		text-align: center;
		color: $black-color;
		/* display: block; */
	}

	.box-qr img {
		width: 60px;
		margin-top: 5px;
	}

	.close-btn {
		background-color: $words-color;
		position: absolute;
		top: -1px;
		left: 73px;
		width: 8px;
		height: 14px;
		border: 1px solid #ccc;
		border-left: none;
		line-height: 14px;
		font-family: Arial, Helvetica, sans-serif;
		cursor: pointer;
	}
	// 弹出广告
	.ad {
		position: fixed;
		z-index: 999;
		top: 100px;
		left: 500px;
	}
	.aixinzhunong,
	.guanyuwomen,
	.caigoudating {
		display: none;
	}
	.left-menu {
		.menu-btn {
			&:hover .more-box-hover {
				display: block; /*这里把里面的内容显示出来*/
			}
		}
		.more-box-hover {
			display: none;
			width: 810px;
			position: absolute;
			left: 234px;
			top: 0;
			z-index: 24;
			border: 1px solid #e0e0e0;
			border-left: 0;
			background: #fff;
			-webkit-box-shadow: 0 8px 16px rgb(0 0 0 / 18%);
			box-shadow: 0 8px 16px rgb(0 0 0 / 18%);
			height: 286px;
			padding: 2px 0;
			.more-box-head {
				float: left;
				width: 265px;

				margin: 0;
				a {
					color: $black-color;
					position: relative;
					float: left;
					width: 200px;
					height: 57px;
					span {
						display: block;
						margin-top: 6px;
					}
					&:hover {
						cursor: pointer;
						color: $words-color;
						transition: all 0.2s;
					}
				}
				img {
					float: left;
					margin: 5px 15px 0 27px;
					vertical-align: middle;
					width: 45px;
				}
			}
		}
	}
	.shar-more-more {
		box-shadow: 0 0 6px rgb(0 0 0 / 30%);
		background-color: $words-color;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		align-items: center;
		position: fixed;
		top: 520px;
		right: 57px;
		width: 150px;
		height: 300px;
		span{
			position: fixed;
			
			top: 535px;
			right: 35px;
			border:11px solid transparent;
			border-left-color: $words-color;
		}
		
		.fa-qq{
		
			color: $bule-color;
		}
		.fa-weixin{
			color: #03D669;
		}
		.fa-line{
			color: #06C152;
		}
		.fa-github{
			color: #171A1F;
		}
		.fa-facebook{
			color: #077AE9;
		}
		a {
			
			display: flex;
			color: $black-color;
			&:hover {
				color: $bule-color;
			}
		}
		.shar-more-qq {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 60px;
		} 
	}
	.shar-more-more{
		display: none;
	}
	.shar-to-two{
		
			&:hover .shar-more-more {
				display: block; /*这里把里面的内容显示出来*/
			}
		
	}
}
