//购买界面
body{
    .fxg_banner{
        width: 100%;
        .fh{
            position: absolute;
            top: 5%;
            left: 10px;
            transform: translateY(-5%);
            z-index: 99;
            .iconfont{
                font-size: 32px;
            }
        }
        .gwc{
            position: absolute;
            top: 5%;
            right: 10px;
            transform: translateY(-5%);
            z-index: 99;
            .iconfont{
                font-size: 32px;
            }
        }
        .fxg_banner_top{
            background: #e0e0e0;
            height: 300px;
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .img{
                width: 400px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                img{
                    width: 75%;
                    height: auto;
                }
            }
        }
        .fxg_banner_mian{
            height: 60px;
            background-color: #e0e0e0;
            .zhanshi{
                ul{
                    width: 400px;
                    margin: 0 auto;
                    li{
                        width: 48px;
                        height: 44px;
                        margin: 3px 10px;
                        border-radius: 15px;
                        border: 2px solid #a5a5a5;
                        overflow: hidden;
                    }
                }
            }
        }
        .fxg_banner_bottom{
            height: 65px;
            .cxj{
                background-image: url(//imgsrc.baidu.com/super/pic/item/7bec54e736d12f2ec3cb5fa00ac2d56284356820.jpg);
                background-size: 100%;
                .img{
                    justify-content: space-between;
                    .cxj_lft{
                        .cxj_lft_top{
                            span{
                                &:nth-child(2){
                                    width: 46px;
                                    height: 21px;
                                    border-radius: 15px;
                                    position: relative;
                                    margin-left: 5px;
                                }
                                p{
                                    position: absolute;
                                    top: 50%;
                                    left: 8px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}