//购买界面
body{
    .fxg_banner{
        width: 100%;
        .fh{
            position: absolute;
            top: 5%;
            left: 10px;
            transform: translateY(-5%);
            z-index: 99;
            .iconfont{
                font-size: 32px;
            }
        }
        .gwc{
            position: absolute;
            top: 5%;
            right: 10px;
            transform: translateY(-5%);
            z-index: 99;
            .iconfont{
                font-size: 32px;
            }
        }
        .fxg_banner_top{
            background: #e0e0e0;
            height: 300px;
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            .img{
                width: 400px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                img{
                    width: 75%;
                    height: auto;
                }
            }
        }
        .fxg_banner_mian{
            height: 60px;
            .zhanshi{
                ul{
                    margin: 0 auto;
                    li{
                        width: 48px;
                        height: 44px;
                        margin: 3px 10px;
                        border-radius: 15px;
                        border: 2px solid #a5a5a5;
                        overflow: hidden;
                    }
                }
            }
        }
        .fxg_banner_bottom{
            height: 65px;
            .cxj{
                background-image: url(//imgsrc.baidu.com/super/pic/item/7bec54e736d12f2ec3cb5fa00ac2d56284356820.jpg);
                background-size: 100%;
                .img{
                    justify-content: space-between;
                    .cxj_lft{
                        .cxj_lft_top{
                            span{
                                &:nth-child(2){
                                    width: 46px;
                                    height: 21px;
                                    border-radius: 15px;
                                    position: relative;
                                    margin-left: 5px;
                                }
                                p{
                                    position: absolute;
                                    top: 50%;
                                    left: 8px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                        .cxj_lft_bottom{
                            .msj{
                                p{
                                    font-weight: bold;
                                    &:nth-child(2){
                                        transform: translateY(-10px);
                                    }
                                }
                            }
                            .yj{
                                text-decoration: line-through;
                            }
                        }
                    }
                    .cxj_right{
                        .cxj_right_btn{
                            .seckill_tm{
                                width: 25px;
                                    height: 25px;
                                    line-height: 25px;
                                    border-radius: 5px;
                                    background: linear-gradient( #ff6900, #efaf66);
                            }
                        }
                    }
                }
            }
        }
    }
    .fxg_main{
        .spmc{
            font-weight: bold;
        }
        .fxgw{
            .fxgimg{
                width: 80px;
            }
        }
    }
    .fxg_footer{
        .tj{
            .sp{
                .img{
                    width: 120px;
                    height: 120px;
                }
            }
            .cxjg{
                span{
                    width: 48px;
                    height: 22px;
                    font-size: 12px;
                    text-align: center;
                    line-height: 22px;
                    border-radius: 5px;
                    border: 2px solid #ff6900;
                    color: #ff6900;
                }
            }
            .jg{
                span{
                    &:nth-child(1){
                        font-weight: bold;
                    }
                }
                .yhj{
                    transform: translateY(-2px);
                }
                .yj{
                    text-decoration: line-through;
                }
            }
            .miaoshajg{
                width: 95px;
                height: 45px;
                .msbox{
                    position: relative;
                    border-radius: 30px;
                    line-height: 30px;
                    background: linear-gradient(to right, rgb(245, 145, 5), rgb(255, 183, 52));
                    .msdjs{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -40%);
                        .miaosha_tm{
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }
    }
    .goumai{
        height: 60px;
        position: fixed;
        bottom: 0;
        line-height: 60px;
        align-items: center;
        border-top: 1px solid #e0e0e0;
        .dp,
        .gwc{
            flex-wrap: nowrap;
            ion-icon{
                height: 22px;
            }
        }
        .ljgm{
            width: 180px;
            height: 50px;
            background: linear-gradient(177deg, red, #ff8d8d);
            border-radius: 30px;
            line-height: 50px;
        }
    }
}