// 采购
body {
	.price-buy {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background-color: #F6F6F4;
		.buy-head {
			position: relative;
			width: 8rem;
			height: 13rem;
			img {
				width: 7.5rem;
			}
			text-align: center;
			h3 {
				font-size: .8rem;
			}
			p {
				font-size: .6rem;
				color: gray;
				&:nth-child(4) {
					color: #eb625c;
				}
				margin: .25rem 0;
			}
			a {
				display: inline-block;
				background-color: #eb625c;
				color: $words-color;
				padding: .5rem 1rem;
				border-radius: .25rem;
			}
			.shop-quan {
                display: flex;
                justify-content: center;
                align-items: center;
				right: 0;
				top: 6.5rem;
				width: 7.9rem;
				height: 1rem;
				border-radius: 2.5rem;
				background-color: #eb625c;
				position: absolute;
				p {
                    width: 2.5rem;
                    text-align: center;
					color: $words-color;
					font-size: .6rem;
                    margin-right: 0;
				}
				
			}
		}
	}
}
