@charset "UTF-8";
body {
  /* 主页index.html的样式表 */
  /* 设置左侧导航条的样式 */
  /* 隐藏全部商品 */
  /* .nav li:not(:first-of-type):not(:nth-child(10)):not(:nth-child(9)):hover ~ .goods-info, */
  /* 设置banner */
  /* 设置5个导航点 */
  /* 设置两个箭头 */
  /* 设置下部的广告区域 */
  /* 设置左侧快捷方式 */
  /* 设置上边框 */
  /* 设置左边框 */
  /* 设置快捷方式中的超链接 */
  /* 设置图标字体 */
  /* 设置左侧的图片 */
  /* -----------------爱心助农----------------- */
  /* -----------------产品展示----------------- */
  /*------------------------ banenr-------------------- */
  /*------------------------ 爱心助力-------------------- */
  /*------------------------ banner-------------------- */
  /*------------------------ 关于我们-------------------- */
  /*------------------------ 滞销产品-------------------- */
  /* <!-- -------------------------合照图片--------------------------- --> */
  /* <!-- -------------------------长久以来，承蒙关照---------------------------
  --> */
  /* -------------------------常见问题--------------------------- */
  /* ---------------- 产品导航明细 ------------------ */
}
body .header-wrapper {
  /* 固定容器的宽度 */
  width: 76.625rem;
  /* 设置容器居中 */
  margin: 0 auto;
  box-sizing: border-box;
}
body .contain-1 {
  /* 固定容器的宽度 */
  width: 47.3125rem;
  /* 设置容器居中 */
  margin: 0 auto;
}
body .left-menu {
  width: 14.625rem;
  height: 18.125rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  z-index: 999;
  line-height: 1;
}
body ul.left-menu li a {
  display: block;
  height: 2.625rem;
  line-height: 2.625rem;
  color: white;
  margin-right: 0;
  padding: 0 1.875rem;
  font-size: 0.875rem;
}
body ul.left-menu li a:hover {
  color: white;
  background-color: rgb(134, 191, 50);
}
body .left-menu a i {
  font-size: 1.125rem;
  float: right;
  line-height: 2.625rem;
}
body .nav-wrapper li a {
  display: block;
  font-size: 1rem;
  margin-right: 1.25rem;
}
body .nav-wrapper li a:hover {
  color: #ff6700;
}
body .all-goods {
  visibility: hidden;
}
body .nav .goods-info {
  /* height: 14.25rem; */
  height: 0;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  position: absolute;
  top: 6.25rem;
  left: 0;
  transition: height 0.3s;
  z-index: 9999;
}
body .nav .show-goods:hover ~ .goods-info,
body .goods-info:hover {
  height: 14.25rem;
  border-top: 0.0625rem solid rgb(224, 224, 224);
  box-shadow: 0 0.3125rem 0.1875rem rgba(0, 0, 0, 0.2);
}
body .banner {
  position: relative;
  height: 18.125rem;
}
body .banner .img-list li {
  position: absolute;
}
body .banner img {
  width: 64.375rem;
  vertical-align: top;
}
body .pointer {
  position: absolute;
  bottom: 1.375rem;
  right: -14.5rem;
}
body .pointer a {
  float: left;
  width: 0.375rem;
  height: 0.375rem;
  border: 0.125rem rgba(255, 255, 255, 0.4) solid;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 0.375rem;
}
body .pointer a:hover,
body .pointer a.active {
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
}
body .prev-next a {
  width: 2.5625rem;
  height: 4.3125rem;
  background-image: url(../img/icon-slides.png);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
body .prev-next .prev {
  background-position: -5.25rem 0;
  background-color: #5f5750;
  opacity: 0.5;
}
body .prev-next .prev:hover {
  background-position: 0 0;
}
body .prev-next .next {
  background-color: #5f5750;
  opacity: 0.5;
  right: -17rem;
  background-position: -7.8125rem 0;
}
body .prev-next .next:hover {
  background-position: -2.625rem 0;
}
body .Activity {
  /* 固定容器的宽度 */
  width: 76.625rem;
  /* 设置容器居中 */
  margin: 0.625rem auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 1.875rem;
}
body .Activity .shortcut,
body .Activity,
body .Activity {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .imgs {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 16.25rem;
}
body .Activity .shortcut {
  width: 14.6875rem;
  height: 12.5rem;
  background-color: #5f5750;
  margin-right: 0.875rem;
  padding-top: 0.125rem;
}
body .Activity .shortcut li {
  position: relative;
}
body .Activity .shortcut li::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.0625rem;
  background-color: #665e57;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}
body .Activity .shortcut li::after {
  content: "";
  position: absolute;
  height: 4.375rem;
  width: 0.0625rem;
  background-color: #665e57;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
}
body .Activity .shortcut a {
  display: block;
  color: #cfccca;
  height: 5.25rem;
  width: 4.75rem;
  text-align: center;
  font-size: 0.75rem;
  overflow: hidden;
}
body .Activity .shortcut a:hover {
  color: #fff;
}
body .Activity .shortcut i {
  display: block;
  margin-top: 1.25rem;
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
}
body .Activity .imgs li {
  width: 19.75rem;
  margin-right: 1.75rem;
}
body .Activity .imgs li:last-child {
  margin: 0;
}
body .Activity .imgs img {
  width: 19.75rem;
  vertical-align: top;
}
body .fruit-infor-head {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
body .fruit-infor-head .fruit-infor h3 {
  font-family: "myfont";
  font-size: 1.375rem;
}
body .fruit-infor-head .fruit-infor p {
  font-size: 0.75rem;
}
body .fruit-infor-head .fruit-infor h3 {
  margin-bottom: 0.5rem;
}
body .fruit-infor-head .fruit-infor a {
  display: block;
  margin-top: 0.9375rem;
}
@keyframes more {
  0% {
    display: none;
  }
}
body .fruit-infor-head .fruit-infor:nth-child(1) {
  position: absolute;
  left: 2.375rem;
}
body .fruit-infor-head .fruit-infor:nth-child(2) {
  position: absolute;
  left: 23.75rem;
}
body .fruit-infor-head .fruit-infor:nth-child(3) {
  position: absolute;
  left: 45.125rem;
}
body .lovef {
  margin: 4.0625rem auto;
}
body .lovef h2 {
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.1875rem;
  color: #404040;
  background: url(../img/public/leaf1.png) center no-repeat;
  text-align: center;
  margin-bottom: 1.5625rem;
}
body .lovef p {
  font-size: 1.125rem;
  letter-spacing: 0.125rem;
  color: #666666;
  text-align: center;
}
body .lovef_img {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  height: 13.6875rem;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.125rem;
}
body .lovef_img .lovef_imgs {
  width: 76.625rem;
  height: 13.6875rem;
  background-color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.125rem;
}
body .lovef_img img {
  transition: all 1.5s;
}
body .lovef_img img:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0.1875rem 0.8125rem 0.1875rem rgba(87, 87, 87, 0.418);
}
body .lovef .lovef_btn {
  font-family: "myfont";
  width: 17rem;
  height: 2.875rem;
  background-color: #3a880e;
  border-radius: 2.875rem;
  text-align: center;
  line-height: 2.875rem;
  margin: 1.875rem auto;
  font-size: 1.875rem;
  letter-spacing: 0.1875rem;
  color: #ffffff;
}
body .showpro h2 {
  background: url(../img/public/leaf1.png) center no-repeat;
  font-size: 2rem;
  letter-spacing: 0.1875rem;
  color: #404040;
  text-align: center;
  margin-top: 4.0625rem;
}
body .showpro .showpro-img {
  width: 67rem;
  height: 12.875rem;
  margin: 2.25rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .showpro .showpro-img img {
  width: 7.75rem;
  background-color: #ffffff;
  margin: 0 0.3125rem;
  transition: all 0.5s;
}
body .showpro .showpro-img .showpro-img-single img:hover {
  transform: scale(1.05);
  box-shadow: 0rem 0.1875rem 0.8125rem 0.1875rem rgba(87, 87, 87, 0.418);
}
body .showpro-img {
  text-align: center;
  font-size: 1.125rem;
  letter-spacing: 0.125rem;
  color: #404040;
}
body .picture {
  overflow: hidden;
  margin-bottom: 3.125rem;
  width: 75rem;
  margin: 0 auto;
}
body .picture img {
  width: 100%;
  transition: all 1s;
}
body .picture img:hover {
  opacity: 0.9;
  transform: scale(1.1);
}
body .lovef-title {
  height: 4.8125rem;
  text-align: center;
}
body .lovef-title h2 {
  margin: 0.625rem 0;
  font-family: "myfont";
  font-size: 2.5rem;
  color: #3a880e;
}
body .lovef-title span {
  font-size: 0.875rem;
  color: #999999;
}
body .slideshow {
  margin-top: 1.875rem;
  width: 90.625rem;
  margin: 1.5625rem auto;
  height: 28.8125rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .details {
  width: 23.125rem;
  height: 27.875rem;
  background-color: #ffffff;
  box-shadow: 0rem 0.625rem 3.75rem 0rem rgba(0, 0, 0, 0.1);
  border: solid 0.0625rem #eeeeee;
  padding: 1.25rem;
}
body .details img {
  margin-bottom: 1.5625rem;
  transition: all 1s;
}
body .details img:hover {
  transform: scale(1.1);
}
body .details img + p {
  font-size: 1rem;
  color: #000000;
  margin-bottom: 0.9375rem;
  font-weight: 900;
  text-align: center;
}
body .details img + p + p {
  font-size: 0.8125rem;
  color: #999999;
  margin-bottom: 1.875rem;
}
body .details .d-plan {
  width: 20.625rem;
  height: 0.9375rem;
  background-color: #f6f6f6;
  border-radius: 0.9375rem;
  margin-bottom: 0.9375rem;
}
body .details .d-plan div {
  width: 10.25rem;
  height: 0.9375rem;
  background-color: #3a880e;
  border-radius: 0.9375rem;
}
body .details .d-data {
  width: 20.6875rem;
  height: 2.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .details .d-data .d-d-text {
  text-align: center;
}
body .image {
  width: 75rem;
  height: 33.1875rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
body .image img {
  width: 100%;
}
body .about {
  width: 74.9375rem;
  height: 2.1875rem;
  background-image: url(../img/public/leaf1.png);
  text-align: center;
  line-height: 1.875rem;
  margin-bottom: 3.1875rem;
}
body .about p {
  font-size: 2rem;
  color: #404040;
}
body .about_contain {
  margin-top: 1.375rem;
  width: 75rem;
  height: 18.75rem;
  margin-bottom: 3.375rem;
  display: flex;
  justify-content: space-between;
}
body .about_contain .picture img {
  transition: all 1s;
}
body .about_contain .picture:hover img {
  opacity: 0.3;
  transform: scale(1.1);
  transform: rotateY(360deg);
}
body .about_contain .text {
  margin-right: 4.6875rem;
}
body .about_contain .text:nth-child(2) {
  margin-left: 4.6875rem;
}
body .about_contain .text p {
  font-size: 1rem;
  line-height: 1.875rem;
}
body .about_contain .text .text-1 {
  margin-bottom: 1.625rem;
}
body .about_contain-1 {
  width: 75rem;
  height: 21.25rem;
  margin-bottom: 3.375rem;
  display: flex;
  justify-content: space-between;
}
body .about_contain-1 .picture-1 img {
  transition: all 1s;
}
body .about_contain-1 .picture-1:hover img {
  transform: scale(1.1);
  transform: rotateX(360deg);
}
body .about_contain-1 .picture-1 {
  margin-right: 5rem;
}
body .about_contain-1 .bamboo .bamboo-1 {
  margin-right: 7.8125rem;
  margin-bottom: 1.6875rem;
}
body .about_contain-1 .bamboo .bamboo-1 p img {
  width: 0.9375rem;
  height: 0.6875rem;
}
body .image-1 {
  width: 92.5rem;
  margin: 0 auto;
  height: 11.25rem;
  background-color: #000000;
  margin-bottom: 5.6875rem;
  background-image: url(../img/aboutus/广告位.jpg);
  position: relative;
}
body .image-1 a {
  font-size: 1.125rem;
  color: #ffffff;
  position: absolute;
  top: 7rem;
  left: 71.875rem;
}
body .finally {
  background-color: #f6f6f6;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}
body .finally .f-content {
  display: flex;
  justify-content: center;
}
body .finally .f-content .fc-picture {
  width: 39.875rem;
  height: 25rem;
}
body .finally .f-content .fc-text {
  width: 31.875rem;
  padding-top: 0.625rem;
}
body .finally .f-content .fc-text .fct-one {
  font-size: 0.875rem;
  color: #f75e61;
  margin-bottom: 1.25rem;
}
body .finally .f-content .fc-text .fct-two {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 900;
  margin-bottom: 0.9375rem;
}
body .finally .f-content .fc-text .fct-three {
  font-size: 0.875rem;
  color: #999999;
  margin-bottom: 1.875rem;
}
body .finally .f-content .fc-plan {
  width: 31.875rem;
  height: 0.9375rem;
  background-color: #eeeeee;
  border-radius: 0.9375rem;
  margin-bottom: 0.9375rem;
}
body .finally .f-content .fc-plan div {
  width: 6.25rem;
  height: 0.9375rem;
  background-color: #3a880e;
  border-radius: 0.9375rem;
}
body .finally .f-content .fc-text .fct-data {
  width: 31.875rem;
  height: 2.375rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
body .finally .f-content .fc-text .fct-data .fctd-text {
  text-align: center;
}
body .f-content .fc-button {
  width: 30rem;
  height: 3.75rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .f-content .fc-button .fcb-a a {
  display: block;
  width: 11.25rem;
  height: 3.3125rem;
  background-color: #3a880e;
  border-radius: 3.3125rem;
  text-align: center;
  line-height: 3.3125rem;
  color: #ffffff;
}
body .f-content .fc-button .fcb-a-1 a {
  background-color: #1d99e3;
  display: block;
  width: 11.25rem;
  height: 3.3125rem;
  border: solid 0.3125rem #d2d4d3;
  border-radius: 3.3125rem;
  text-align: center;
  line-height: 3.3125rem;
}
body .flow {
  display: flex;
  justify-content: center;
  width: 92.5rem;
  margin: 0 auto;
  height: 19.3125rem;
  background-color: #222222;
  background-image: url(../img/lovetofarmer/main_bg_03.png);
}
body .flow .help-infor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .flow h2 {
  font-weight: 900;
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 2.8125rem;
}
body .flow .flow-icon {
  width: 72.6875rem;
  height: 4.0625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .flow .flow-icon:nth-child(2n) {
  width: 2.5rem;
  height: 1.8125rem;
}
body .flow .flow-icon .fi-1 {
  width: 2.0625rem;
  height: 1.5rem;
  margin-top: 1.625rem;
}
body .map {
  width: 100%;
  height: 37.5rem;
  background-color: #f6f6f6;
  padding: 3.125rem;
  margin-bottom: 0.625rem;
}
body .map .map-case {
  width: 73.25rem;
  height: 31.375rem;
  display: flex;
  justify-content: space-between;
}
body .map .map-case .map-text h3 {
  font-family: "myfont";
  font-size: 2.5rem;
  color: #3a880e;
  margin-top: 11.25rem;
  margin-bottom: 1.25rem;
}
body .map .map-case .map-text h3 + p {
  line-height: 2.375rem;
  font-size: 0.9375rem;
  color: #2b2b2b;
}
body .tupian {
  width: 74.1875rem;
  height: 34.125rem;
  margin-bottom: 2.625rem;
}
body .t-background {
  height: 2.4375rem;
  background-image: url(../img/public/leaf1.png);
  text-align: center;
  background-repeat: no-repeat;
  margin-bottom: 2.9375rem;
}
body .t-background p {
  margin-top: 1.875rem;
  font-size: 1.875rem;
  color: #3a880e;
}
body .issue {
  text-align: center;
  margin-bottom: 3rem;
}
body .issue h3 {
  margin: 6.25rem 0 3rem 0;
  font-family: "myfont";
  font-size: 2.125rem;
  color: #404040;
}
body .answer {
  width: 75rem;
  height: 10.5625rem;
  margin-bottom: 3.75rem;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
body .answer .answer-1 {
  width: 34.625rem;
  height: 4.0625rem;
  display: flex;
  flex-wrap: wrap;
}
body .answer .answer-1 .a1-text {
  font-size: 1rem;
  color: #2e2e2e;
}
body .answer .answer-1 .a1-text-1 {
  font-size: 0.875rem;
  color: #8b8989;
}
body .picture-info {
  height: 37.5rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}
body .picture-info .right-img {
  width: 68.75rem;
  margin: auto;
}
body .right-img-3 {
  background-color: rgb(216, 216, 216);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
body .right-img-3 a img {
  transition: all 1s;
}
body .right-img-3 a:hover img {
  transform: scale(1.1);
}
body .right-img-3-1 {
  width: 12.5rem;
  height: 16.875rem;
  background-color: #ffffff;
  padding-top: 0.3125rem;
  margin-bottom: 0.625rem;
}
body .right-img-3-1:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}
body .right-img-3-1 .img-3 {
  margin: 0 0.75rem;
}
body .img-nuber {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0.625rem;
  margin-bottom: 0.3125rem;
}
body .img-nuber .nuber-1 {
  font-size: 0.75rem;
  color: #e4393c;
}
body .img-nuber .nuber-1 > span {
  font-size: 1.375rem;
  color: #e4393c;
}
body .img-nuber .nuber-2 {
  font-size: 0.75rem;
  color: #a0a0a0;
  line-height: 1.875rem;
}
body .img-text {
  display: flex;
  justify-content: center;
  font-size: 0.875rem;
  color: #404040;
  margin-bottom: 0.5rem;
}
body .img-text-1 {
  display: flex;
  justify-content: space-between;
  padding: 0 0.8125rem;
}
body .img-text-1 .it-1 {
  font-size: 0.75rem;
  color: #a0a0a0;
}
body .img-text-1 .it-2 {
  font-size: 0.75rem;
  color: #3a880e;
}
body .page {
  height: 2.5rem;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 2.8125rem;
  justify-content: center;
}
body .page .in-in {
  width: 2.5rem;
  padding: 0 0.125rem;
  outline: none;
  border: 0.0625rem solid #3a880e;
}
body .page .up-100 {
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
body .page a {
  display: block;
  line-height: 2.5rem;
  width: 2.5rem;
  color: #616161;
  cursor: pointer;
}
body .page a:hover {
  background-color: #616161;
  color: #fff;
}
body .page .up- {
  margin: 0.625rem 0.625rem;
}
body .page .up-1 {
  background-color: #616161;
}
body .page .up-1 a {
  color: #f6f6f6;
}
body .page .up {
  width: 5rem;
  height: 1.125rem;
  background-color: #ffffff;
  border: solid 0.0625rem #dddddd;
  font-size: 0.875rem;
  color: #626262;
  display: flex;
  padding: 0.625rem 0.75rem;
  margin-right: 1.25rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
body .page .down {
  cursor: pointer;
}
body .page .up-6 {
  cursor: pointer;
}
body .page .up-2,
body .up-1,
body .up-3,
body .up-4,
body .up-5,
body .up-6,
body .up-7 {
  width: 2.375rem;
  height: 2.375rem;
  background-color: #f6f6f6;
  border: solid 0.0625rem #dddddd;
  line-height: 2.375rem;
  text-align: center;
  margin-left: 0.9375rem;
  margin-right: 0.3125rem;
  font-size: 0.875rem;
  color: #626262;
}
body .page .down {
  width: 5rem;
  height: 1.125rem;
  background-color: #f6f6f6;
  border: solid 0.0625rem #dddddd;
  color: #626262;
  font-size: 0.875rem;
  display: flex;
  padding: 0.625rem 0.75rem;
  margin-right: 1.25rem;
  justify-content: center;
  align-items: center;
}
body .right-img-contain {
  width: 76.625rem;
  margin: 0 auto;
}
body .right-img-contain .right-img-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
body .right-img-contain .right-img-box .right-img-3-1 {
  flex: 1;
  margin: 0 3.125rem 1.5625rem 0;
}
body .right-img-contain .right-img-box .right-img-3-1:nth-child(5n) {
  margin-right: 0;
}
body .right-img-contain .right-img-box .right-img-3-1:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
body .sale {
  height: 16.875rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.625rem;
}
body .sale .sale-left {
  width: 5rem;
  height: 16.875rem;
  background-color: #b3d465;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.875rem;
  color: #404040;
  padding: 0 1.5rem;
}
body .sale .sale-centre {
  width: 12.25rem;
  height: 16.875rem;
  background-color: #ffffff;
  border: solid 0.0625rem #c5c5c5;
}
body .price-buy-container {
  width: 87.5rem;
  margin: 0 auto;
  box-sizing: border-box;
}
body .price-buy-container .price-buy-infor {
  margin: 0 0.5rem;
  height: 16.875rem;
  width: 5rem;
  writing-mode: vertical-rl;
  background-color: rgb(134, 191, 50);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .price-buy-container .price-buy-infor p {
  font-size: 2.5rem;
  font-family: "myfont";
}
body .price-buy-container .price-buy {
  margin-top: 2.1875rem;
  display: flex;
  justify-content: space-around;
}
body .nolike {
  color: #999;
  text-align: center;
  font-size: 1rem;
  margin: 1.25rem 0;
}
body .search-wapper .search-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2.1875rem;
}
body .search-wapper .search-plus .search {
  position: relative;
  box-sizing: border-box;
  width: 34.375rem;
  float: left;
  padding: 0 0.625rem;
  height: 2.75rem;
  font-size: 1rem;
  border: 0.3125rem solid #1d99e3;
  border-right: 1.375rem solid #fff;
  border-left: 1.125rem solid #fff;
  outline: none;
  border-radius: 0.3125rem;
  color: rgb(195, 195, 195);
}
body .search-wapper .search-plus .search-btn {
  position: relative;
  right: 1.8125rem;
  color: rgb(195, 195, 195);
  height: 2.75rem;
  width: 6.75rem;
  padding: 0;
  border: none;
  background-color: #1d99e3;
  color: #f3f3f3;
  font-size: 1rem;
  border-radius: 0.5625rem;
  border-left: none;
}
body .search-wapper .search-plus .search-btn:hover {
  background-color: rgb(117, 167, 43);
}
body .search-wapper .search-plus .camera {
  color: rgb(200, 200, 200);
  position: relative;
  right: 1.8125rem;
}
body .adv {
  height: 6.875rem;
  margin: 0.9375rem auto;
}
body .product-1 {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  height: 37.5rem;
  background-color: #f9f9f9;
  border: solid 0.0625rem #c5c5c5;
  margin: 0 auto;
  padding-left: 5.625rem;
  padding-top: 1.25rem;
  margin-bottom: 1.25rem;
}
body .product-1 .pro-nav {
  display: flex;
  flex-wrap: nowrap;
  font-size: 0.75rem;
  color: #404040;
  margin-bottom: 0.8125rem;
  justify-content: space-between;
}
body .product-1 .pro-nav ul {
  width: 39.0625rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
body .pro-nav ul > li > a {
  font-size: 0.75rem;
  color: #1859a4;
}
body .pro-seek {
  display: flex;
  margin-bottom: 0.8125rem;
}
body .pro-seek > p {
  line-height: 2.625rem;
}
body .title {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
body .title .title-head {
  height: 26.875rem;
  margin-bottom: 1.25rem;
}
body .title .z-dl-head {
  width: 36.75rem;
  height: 2.6875rem;
  background-color: #ffffff;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}
body .title .z-dl-head .z-dl-head-l {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4375rem 1.4375rem 0.4375rem 1.4375rem;
}
body .title .z-dl-head .z-dl-head-l p {
  font-size: 1.625rem;
  letter-spacing: 0.1875rem;
  color: #ca7f72;
}
body .title .z-dl-head .z-dl-head-l a {
  display: block;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  color: #626262;
}
body .title .z-dl {
  overflow: hidden;
  width: 36.75rem;
  height: 23.75rem;
  display: flex;
}
body .z-dl .z-dl-left {
  width: 12.3125rem;
  height: 23.75rem;
  background-image: url("../img/index/display/1.png");
  padding-top: 7.3125rem;
  padding-left: 1.375rem;
}
body .title .z-dl .z-dl-left h4 {
  font-size: 2.25rem;
  letter-spacing: 0.25rem;
  color: #ffffff;
  margin-bottom: 0.5rem;
}
body .title .z-dl .z-dl-left p {
  font-size: 1.25rem;
  letter-spacing: 0.0625rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}
body .z-dl-left a {
  width: 6.9375rem;
  padding: 0.5rem 0.875rem;
  background-color: rgba(251, 212, 198, 0.5333333333);
  border-radius: 0.875rem;
  color: #fff;
  font-size: 1.25rem;
}
body .z-dl-right {
  width: 25rem;
  height: 23.75rem;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
body .right_pro-l {
  background-color: rgb(230, 230, 230);
  width: 11.8125rem;
  height: 11.625rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .imgbox {
  width: 80%;
  height: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .imgbox img {
  width: 100%;
  width: auto;
  transition: all 1s;
}
body .imgbox img:hover {
  transform: scale(1.2);
}
body .right_pro_l_l p {
  display: block;
  float: left;
  width: 6.25rem;
  height: 1.5rem;
  font-size: 0.75rem;
  color: #666;
}
body .right_pro_l_l span {
  display: inline-block;
  font-size: 0.875rem;
  padding: 0.1875rem 0.375rem;
  color: rgb(235, 235, 235);
  background-color: #3a880e;
  margin-right: 0.625rem;
}
body .right_pro-price1 {
  float: left;
  font-size: 1.375rem;
  font-weight: normal;
  color: #e40c61;
}
body .right_pro-price2 {
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  color: #a09e9e;
  text-decoration: line-through;
}
body .flow-famer {
  width: 76.625rem;
  margin: 1.25rem auto;
  display: flex;
  justify-content: space-around;
}
body .flow-famer .print {
  text-align: center;
}
body .flow-famer .print p {
  font-size: 1.125rem;
  margin-top: 0.75rem;
}
body .flow-famer .print .print-1 {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  border: 0.0625rem solid #616161;
}
body .flow-famer .print .print-1 i {
  scale: 3.7;
  line-height: 7;
}
body .news-list .news-list-container {
  position: relative;
  width: 76.625rem;
  margin: 2.8125rem auto;
}
body .news-list .news-list-container .news-list {
  position: absolute;
  top: 2.5rem;
  right: 9.375rem;
}
body .news-list .news-list-container .news-list-box {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -0.375rem;
  right: 12.5rem;
}
body .news-list .news-list-container .news-list-box .news-list-header {
  line-height: 1.5625rem;
  width: 31.375rem;
  display: flex;
  justify-content: space-between;
}
body .news-list .news-list-container .news-list-box .news-list-header h3 {
  line-height: 1.875rem;
}
body .news-list .news-list-container .news-list-box .news-list-header i {
  line-height: 1.6875rem;
}
body .news-list .news-list-container .news-list-box .news-list-header a {
  color: #616161;
  display: block;
}
body .news-list .news-list-container .news-list-box .news-list-header a:hover {
  color: #1d99e3;
}
body .news-list .news-list-container .news-list-box .news-list-header .news-title-1 {
  font-weight: 500;
  font-family: "myfont";
  width: 3.125rem;
  display: flex;
  justify-content: space-around;
}
body .news-list .news-list-container .news-list-box .news-list-header .news-title-2 {
  font-size: 0.875rem;
  width: 5rem;
  display: flex;
  justify-content: space-around;
}
body .news-list .news-list-container .news-list {
  display: flex;
  justify-content: center;
  height: 22.875rem;
  overflow: hidden;
  position: absolute;
  top: 1.25rem;
}
body .news-list .news-list-container .news-list .news-list-items {
  width: 34.375rem;
}
body .news-list .news-list-container .news-list .news-list-items .item-new {
  line-height: 2.25rem;
}
body .news-list .news-list-container .news-list .news-list-items .item-new i {
  font-weight: 600;
  padding: 0;
  line-height: 1.125rem;
  width: 0.875rem;
  scale: 0.85;
  border-top: 0.125rem solid #f63051;
  margin-right: 0.375rem;
  color: #f63051;
}
body .news-list .news-list-container .news-list .news-list-items .item-new p {
  margin-left: 0.5rem;
  background-size: 100% 100%;
  position: relative;
  top: -0.125rem;
  background-color: #f60;
  display: inline-block;
  padding: 0 0.125rem;
  text-align: center;
  vertical-align: middle;
  font-style: normal;
  color: #fff;
  overflow: hidden;
  line-height: 1rem;
  height: 1rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 200;
}
body .news-list .news-list-container .news-list .news-list-items .item-new .t-1 {
  color: #fe2d46;
}
body .news-list .news-list-container .news-list .news-list-items .item-new .t-2 {
  color: #ff7112;
}
body .news-list .news-list-container .news-list .news-list-items .item-new .t-3 {
  color: #faa90e;
}
body .news-list .news-list-container .news-list .news-list-items .item-new span {
  color: #9195a3;
}
body .news-list .news-list-container .news-list .news-list-items .item-new a {
  color: #616161;
  display: inline-block;
}
body .news-list .news-list-container .news-list .news-list-items .item-new a:hover {
  color: #1d99e3;
}
body .news-list .news-list-container .news-list .news-list-items .item-new .title-top {
  margin-right: 0.5rem;
  font-weight: 600;
}
body .recommend-box .recommend-head {
  margin-left: 7.5rem;
}
body .recommend-box .recommend-head a {
  color: #616161;
  display: inline-block;
  position: relative;
  margin-right: 0.625rem;
}
body .recommend-box .recommend-head a:after {
  content: "";
  width: 0;
  height: 0.1875rem;
  background: #1d99e3;
  position: absolute;
  top: 100%;
  left: 0%;
  transition: all 0.4s;
}
body .recommend-box .recommend-head a:hover:after {
  left: 0%;
  width: 100%;
}
body .recommend-box .recommend-head a:nth-child(2) {
  border-bottom: 0.1875rem solid #1d99e3;
}
body .recommend-box .recommend-box-body {
  width: 20.9375rem;
  margin-left: 6.5625rem;
  display: flex;
  flex-direction: column;
}
body .recommend-box .recommend-box-body .recommend {
  border: 0.0625rem solid rgba(29, 153, 227, 0.3607843137);
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 18.75rem;
  height: 7.5rem;
}
body .recommend-box .recommend-box-body .recommend .infor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 8.75rem;
  height: 6.25rem;
}
body .recommend-box .recommend-box-body .recommend .infor p {
  font-size: 1rem;
  font-weight: bold;
}
body .recommend-box .recommend-box-body .recommend .infor span span {
  color: #bb281c;
  font-size: 0.875rem;
  font-weight: bold;
}
body .recommend-box .recommend-box-body .recommend .infor .number {
  width: 6.875rem;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
}
body .recommend-box .recommend-box-body .recommend .infor .price {
  color: #bb281c;
  font-size: 0.875rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .recommend-box .recommend-box-body .recommend .img-background {
  width: 6.9375rem;
  height: 6.9375rem;
  background: url(../img/news/background/12.png);
  background-position: -9.8125rem -5.75rem;
}
body #colee_right {
  width: 59.25rem;
  margin: 0 auto;
}
body .right-btn {
  width: 59.25rem;
  margin: 0 auto;
}
body .table-box {
  width: 61.25rem;
  margin: 0 auto;
  background-color: #FCFCFC;
}
body .table-box a {
  color: #616161;
  background-color: #fcfcfc;
}
body .table-box .img-revolving-lantern {
  border: 0.0625rem solid rgb(134, 191, 50);
  padding: 0 1.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}
body .table-box .img-header-a a {
  display: block;
}/*# sourceMappingURL=index.css.map */