body {
	$bule-color: #1d99e3;
	$green-color: rgb(134, 191, 50);
	$width: 76.625rem;
	$width-contain: 87.5rem;
	/* 主页index.html的样式表 */
	.header-wrapper {
		/* 固定容器的宽度 */
		width: 76.625rem;
		/* 设置容器居中 */
		margin: 0 auto;
		box-sizing: border-box; //IE盒模型
	}
	/* 设置左侧导航条的样式 */
	.contain-1 {
		/* 固定容器的宽度 */
		width: 47.3125rem;
		/* 设置容器居中 */
		margin: 0 auto;
	}
	.left-menu {
		width: 14.625rem;
		height: 18.125rem;
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		z-index: 999;
		line-height: 1;
	}

	ul.left-menu li a {
		display: block;
		height: 2.625rem;
		line-height: 2.625rem;
		color: white;
		margin-right: 0;
		padding: 0 1.875rem;
		font-size: .875rem;
	}

	ul.left-menu li a:hover {
		color: white;
		background-color: rgb(134, 191, 50);
	}

	.left-menu a i {
		font-size: 1.125rem;
		float: right;
		line-height: 2.625rem;
	}

	.nav-wrapper li a {
		display: block;
		font-size: 1rem;
		margin-right: 1.25rem;
	}

	.nav-wrapper li a:hover {
		color: #ff6700;
	}

	/* 隐藏全部商品 */
	.all-goods {
		visibility: hidden;
	}

	.nav .goods-info {
		/* height: 14.25rem; */
		height: 0;
		overflow: hidden;
		width: 100%;
		background-color: #fff;
		position: absolute;
		top: 6.25rem;
		left: 0;
		transition: height 0.3s;
		z-index: 9999;
	}

	/* .nav li:not(:first-of-type):not(:nth-child(10)):not(:nth-child(9)):hover ~ .goods-info, */
	.nav .show-goods:hover ~ .goods-info,
	.goods-info:hover {
		height: 14.25rem;
		border-top: .0625rem solid rgb(224, 224, 224);
		box-shadow: 0 .3125rem .1875rem rgba(0, 0, 0, 0.2);
	}

	/* 设置banner */
	.banner {
		position: relative;
		height: 18.125rem;
	}

	.banner .img-list li {
		position: absolute;
	}
	.banner img {
		width: 64.375rem;
		vertical-align: top;
	}

	/* 设置5个导航点 */
	.pointer {
		position: absolute;
		bottom: 1.375rem;
		right: -14.5rem;
	}

	.pointer a {
		float: left;
		width: .375rem;
		height: .375rem;
		border: .125rem rgba(255, 255, 255, 0.4) solid;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.4);
		margin-left: .375rem;
	}

	.pointer a:hover,
	.pointer a.active {
		border-color: rgba(0, 0, 0, 0.4);
		background-color: rgba(255, 255, 255, 0.4);
	}

	/* 设置两个箭头 */
	.prev-next a {
		width: 2.5625rem;
		height: 4.3125rem;
		background-image: url(../img/icon-slides.png);
		position: absolute;
		top: 0;
		bottom: 0;
		margin: auto 0;
	}

	.prev-next .prev {
		background-position: -5.25rem 0;
		background-color: #5f5750;
		opacity: 0.5;
	}

	.prev-next .prev:hover {
		background-position: 0 0;
	}

	.prev-next .next {
		background-color: #5f5750;
		opacity: 0.5;
		right: -17rem;
		background-position: -7.8125rem 0;
	}

	.prev-next .next:hover {
		background-position: -2.625rem 0;
	}

	/* 设置下部的广告区域 */
	.Activity {
		/* 固定容器的宽度 */
		width: 76.625rem;
		/* 设置容器居中 */
		margin: .625rem auto;
		box-sizing: border-box; //IE盒模型
		position: relative;
		margin-bottom: 1.875rem;
	}

	.Activity .shortcut,
	.Activity,
	.Activity {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.imgs {
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 0;
		left: 16.25rem;
	}

	/* 设置左侧快捷方式 */
	.Activity .shortcut {
		width: 14.6875rem;
		height: 12.5rem;
		background-color: #5f5750;
		margin-right: .875rem;
		padding-top: .125rem;
	}
	.Activity .shortcut li {
		position: relative;
	}

	/* 设置上边框 */
	.Activity .shortcut li::before {
		content: "";
		position: absolute;
		width: 4rem;
		height: .0625rem;
		background-color: #665e57;
		left: 0;
		right: 0;
		top: 0;
		margin: 0 auto;
	}

	/* 设置左边框 */
	.Activity .shortcut li::after {
		content: "";
		position: absolute;
		height: 4.375rem;
		width: .0625rem;
		background-color: #665e57;
		top: 0;
		bottom: 0;
		margin: auto 0;
		left: 0;
	}

	/* 设置快捷方式中的超链接 */
	.Activity .shortcut a {
		display: block;
		color: #cfccca;
		height: 5.25rem;
		width: 4.75rem;
		text-align: center;
		font-size: .75rem;
		overflow: hidden;
	}

	.Activity .shortcut a:hover {
		color: #fff;
	}

	/* 设置图标字体 */
	.Activity .shortcut i {
		display: block;
		margin-top: 1.25rem;
		margin-bottom: .375rem;
		font-size: 1.25rem;
	}

	/* 设置左侧的图片 */
	.Activity .imgs {
		li {
			width: 19.75rem;
			margin-right: 1.75rem;
		}
	}

	.Activity .imgs li:last-child {
		margin: 0;
	}

	.Activity .imgs img {
		width: 19.75rem;
		vertical-align: top;
	}
	.fruit-infor-head {
		position: absolute;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		.fruit-infor {
			h3 {
				font-family: "myfont";
				font-size: 1.375rem;
			}
			p {
				font-size: .75rem;
			}
			h3 {
				margin-bottom: .5rem;
			}
			a {
				display: block;
				margin-top: .9375rem;
				@keyframes more {
					0% {
						display: none;
					}
				}
			}
			&:nth-child(1) {
				position: absolute;
				left: 2.375rem;
			}
			&:nth-child(2) {
				position: absolute;
				left: 23.75rem;
			}
			&:nth-child(3) {
				position: absolute;
				left: 45.125rem;
			}
		}
	}
	/* -----------------爱心助农----------------- */
	.lovef {
		margin: 4.0625rem auto;
	}
	.lovef h2 {
		font-size: 2rem;
		font-weight: normal;
		letter-spacing: .1875rem;
		color: #404040;
		background: url(../img/public/leaf1.png) center no-repeat;
		text-align: center;
		margin-bottom: 1.5625rem;
	}
	.lovef p {
		font-size: 1.125rem;
		letter-spacing: .125rem;
		color: #666666;
		text-align: center;
	}
	.lovef_img {
		.lovef_imgs {
			width: 76.625rem;
			height: 13.6875rem;
			background-color: #eee;
			display: flex;
			justify-content: space-around;
			align-items: center;
			margin-top: 1.125rem;
		}
		overflow: hidden;
		width: 100%;
		margin: 0 auto;
		height: 13.6875rem;
		background-color: #eee;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 1.125rem;
	}
	.lovef_img img {
		transition: all 1.5s;
	}
	.lovef_img img:hover {
		transform: scale(1.05);
		box-shadow: 0rem .1875rem .8125rem .1875rem rgba(87, 87, 87, 0.418);
	}
	.lovef .lovef_btn {
		font-family: "myfont";
		width: 17rem;
		height: 2.875rem;
		background-color: #3a880e;
		border-radius: 2.875rem;
		text-align: center;
		line-height: 2.875rem;
		margin: 1.875rem auto;
		font-size: 1.875rem;
		letter-spacing: .1875rem;
		color: #ffffff;
	}
	/* -----------------产品展示----------------- */
	.showpro h2 {
		background: url(../img/public/leaf1.png) center no-repeat;
		font-size: 2rem;
		letter-spacing: .1875rem;
		color: #404040;
		text-align: center;
		margin-top: 4.0625rem;
	}
	.showpro .showpro-img {
		width: 67rem;
		height: 12.875rem;
		margin: 2.25rem auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.showpro .showpro-img img {
		width: 7.75rem;
		background-color: #ffffff;
		margin: 0 .3125rem;
		transition: all 0.5s;
	}
	.showpro .showpro-img .showpro-img-single img:hover {
		transform: scale(1.05);
		box-shadow: 0rem .1875rem .8125rem .1875rem rgba(87, 87, 87, 0.418);
	}
	.showpro-img {
		text-align: center;
		font-size: 1.125rem;
		letter-spacing: .125rem;
		color: #404040;
	}
	/*------------------------ banenr-------------------- */
	.picture {
		overflow: hidden;
		margin-bottom: 3.125rem;
		width: 75rem;
		margin: 0 auto;
	}
	.picture img {
		width: 100%;
		transition: all 1s;
	}
	.picture img:hover {
		opacity: 0.9;
		transform: scale(1.1);
	}
	/*------------------------ 爱心助力-------------------- */
	.lovef-title {
		height: 4.8125rem;
		text-align: center;
	}
	.lovef-title h2 {
		margin: .625rem 0;
		font-family: "myfont";
		font-size: 2.5rem;
		color: #3a880e;
	}
	.lovef-title span {
		font-size: .875rem;
		color: #999999;
	}
	.slideshow {
		margin-top: 1.875rem;
		width: 90.625rem;
		margin: 1.5625rem auto;
		height: 28.8125rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.details {
		width: 23.125rem;
		height: 27.875rem;
		background-color: #ffffff;
		box-shadow: 0rem .625rem 3.75rem 0rem rgba(0, 0, 0, 0.1);
		border: solid .0625rem #eeeeee;
		padding: 1.25rem;
	}
	.details img {
		margin-bottom: 1.5625rem;
		transition: all 1s;
	}
	.details img:hover {
		transform: scale(1.1);
	}
	.details img + p {
		font-size: 1rem;
		color: #000000;
		margin-bottom: .9375rem;
		font-weight: 900;
		text-align: center;
	}
	.details img + p + p {
		font-size: .8125rem;
		color: #999999;
		margin-bottom: 1.875rem;
	}
	.details .d-plan {
		width: 20.625rem;
		height: .9375rem;
		background-color: #f6f6f6;
		border-radius: .9375rem;
		margin-bottom: .9375rem;
	}
	.details .d-plan div {
		width: 10.25rem;
		height: .9375rem;
		background-color: #3a880e;
		border-radius: .9375rem;
	}
	.details .d-data {
		width: 20.6875rem;
		height: 2.3125rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.details .d-data .d-d-text {
		text-align: center;
	}
	/*------------------------ banner-------------------- */
	.image {
		width: 75rem;
		height: 33.1875rem;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 1.25rem;
	}
	.image img {
		width: 100%;
	}
	/*------------------------ 关于我们-------------------- */
	.about {
		width: 74.9375rem;
		height: 2.1875rem;
		background-image: url(../img/public/leaf1.png);
		text-align: center;
		line-height: 1.875rem;
		margin-bottom: 3.1875rem;
	}
	.about p {
		font-size: 2rem;
		color: #404040;
	}
	.about_contain {
		margin-top: 1.375rem;
		width: 75rem;
		height: 18.75rem;
		margin-bottom: 3.375rem;
		display: flex;
		justify-content: space-between;
	}
	.about_contain .picture img {
		transition: all 1s;
	}
	.about_contain .picture:hover img {
		opacity: 0.3;
		transform: scale(1.1);
		transform: rotateY(360deg);
	}
	.about_contain .text {
		margin-right: 4.6875rem;
		&:nth-child(2) {
			margin-left: 4.6875rem;
		}
	}
	.about_contain .text p {
		font-size: 1rem;
		line-height: 1.875rem;
	}
	.about_contain .text .text-1 {
		margin-bottom: 1.625rem;
	}
	.about_contain-1 {
		width: 75rem;
		height: 21.25rem;
		margin-bottom: 3.375rem;
		display: flex;
		justify-content: space-between;
	}
	.about_contain-1 .picture-1 img {
		transition: all 1s;
	}
	.about_contain-1 .picture-1:hover img {
		transform: scale(1.1);
		transform: rotateX(360deg);
	}
	.about_contain-1 .picture-1 {
		margin-right: 5rem;
	}
	.about_contain-1 .bamboo .bamboo-1 {
		margin-right: 7.8125rem;
		margin-bottom: 1.6875rem;
	}
	.about_contain-1 .bamboo .bamboo-1 p img {
		width: .9375rem;
		height: .6875rem;
	}
	.image-1 {
		width: 92.5rem;
		margin: 0 auto;
		height: 11.25rem;
		background-color: #000000;
		margin-bottom: 5.6875rem;
		background-image: url(../img/aboutus/广告位.jpg);
		position: relative;
	}
	.image-1 a {
		font-size: 1.125rem;
		color: #ffffff;
		position: absolute;
		top: 7rem;
		left: 71.875rem;
	}
	/*------------------------ 滞销产品-------------------- */
	.finally {
		background-color: #f6f6f6;
		padding-top: 5rem;
		padding-bottom: 2.5rem;
	}
	.finally .f-content {
		display: flex;
		justify-content: center;
	}
	.finally .f-content .fc-picture {
		width: 39.875rem;
		height: 25rem;
	}
	.finally .f-content .fc-text {
		width: 31.875rem;
		padding-top: .625rem;
	}
	.finally .f-content .fc-text .fct-one {
		font-size: .875rem;
		color: #f75e61;
		margin-bottom: 1.25rem;
	}
	.finally .f-content .fc-text .fct-two {
		font-size: 1.5rem;
		color: #000000;
		font-weight: 900;
		margin-bottom: .9375rem;
	}
	.finally .f-content .fc-text .fct-three {
		font-size: .875rem;
		color: #999999;
		margin-bottom: 1.875rem;
	}
	.finally .f-content .fc-plan {
		width: 31.875rem;
		height: .9375rem;
		background-color: #eeeeee;
		border-radius: .9375rem;
		margin-bottom: .9375rem;
	}
	.finally .f-content .fc-plan div {
		width: 6.25rem;
		height: .9375rem;
		background-color: #3a880e;
		border-radius: .9375rem;
	}
	.finally .f-content .fc-text .fct-data {
		width: 31.875rem;
		height: 2.375rem;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.875rem;
	}
	.finally .f-content .fc-text .fct-data .fctd-text {
		text-align: center;
	}
	.f-content .fc-button {
		width: 30rem;
		height: 3.75rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.f-content .fc-button .fcb-a a {
		display: block;
		width: 11.25rem;
		height: 3.3125rem;
		background-color: #3a880e;
		border-radius: 3.3125rem;
		text-align: center;
		line-height: 3.3125rem;
		color: #ffffff;
	}
	.f-content .fc-button .fcb-a-1 a {
		background-color: $bule-color;
		display: block;
		width: 11.25rem;
		height: 3.3125rem;
		border: solid .3125rem #d2d4d3;
		border-radius: 3.3125rem;
		text-align: center;
		line-height: 3.3125rem;
	}
	.flow {
		.help-infor {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		display: flex;
		justify-content: center;
		width: 92.5rem;
		margin: 0 auto;
		height: 19.3125rem;
		background-color: #222222;
		background-image: url(../img/lovetofarmer/main_bg_03.png);
	}
	.flow h2 {
		font-weight: 900;
		font-size: 2.5rem;
		color: whitesmoke;
		text-align: center;
		margin-bottom: 2.8125rem;
	}
	.flow .flow-icon {
		width: 72.6875rem;
		height: 4.0625rem;
		display: flex;
		justify-content: center;
		align-items: center;
		&:nth-child(2n) {
			width: 2.5rem;
			height: 1.8125rem;
		}
	}
	.flow .flow-icon .fi-1 {
		width: 2.0625rem;
		height: 1.5rem;
		margin-top: 1.625rem;
	}
	.map {
		width: 100%;
		height: 37.5rem;
		background-color: #f6f6f6;
		padding: 3.125rem;
		margin-bottom: .625rem;
	}
	.map .map-case {
		width: 73.25rem;
		height: 31.375rem;
		display: flex;
		justify-content: space-between;
	}
	.map .map-case .map-text h3 {
		font-family: "myfont";
		font-size: 2.5rem;
		color: #3a880e;
		margin-top: 11.25rem;
		margin-bottom: 1.25rem;
	}
	.map .map-case .map-text h3 + p {
		line-height: 2.375rem;
		font-size: .9375rem;
		color: #2b2b2b;
	}
	/* <!-- -------------------------合照图片--------------------------- --> */
	.tupian {
		width: 74.1875rem;
		height: 34.125rem;
		margin-bottom: 2.625rem;
	}
	/* <!-- -------------------------长久以来，承蒙关照---------------------------
	--> */
	.t-background {
		height: 2.4375rem;
		background-image: url(../img/public/leaf1.png);
		text-align: center;
		background-repeat: no-repeat;
		margin-bottom: 2.9375rem;
	}
	.t-background p {
		margin-top: 1.875rem;
		font-size: 1.875rem;
		color: #3a880e;
	}
	/* -------------------------常见问题--------------------------- */
	.issue {
		text-align: center;
		margin-bottom: 3rem;
	}
	.issue h3 {
		margin: 6.25rem 0 3rem 0;
		font-family: "myfont";
		font-size: 2.125rem;
		color: #404040;
	}
	.answer {
		width: 75rem;
		height: 10.5625rem;
		margin-bottom: 3.75rem;
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		flex-wrap: wrap;
	}
	.answer .answer-1 {
		width: 34.625rem;
		height: 4.0625rem;
		display: flex;
		flex-wrap: wrap;
	}
	.answer .answer-1 .a1-text {
		font-size: 1rem;
		color: #2e2e2e;
	}
	.answer .answer-1 .a1-text-1 {
		font-size: .875rem;
		color: #8b8989;
	}
	.picture-info {
		height: 37.5rem;
		display: flex;
		justify-content: space-between;
		margin-bottom: 1.875rem;
	}
	.picture-info .right-img {
		width: 68.75rem;
		margin: auto;
	}
	.right-img-3 {
		background-color: rgb(216, 216, 216);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-content: space-between;
	}
	.right-img-3 a img {
		transition: all 1s;
	}
	.right-img-3 a:hover img {
		transform: scale(1.1);
	}
	.right-img-3-1 {
		&:hover {
			transform: translateY(-0.25rem);
			box-shadow: 0 0 .625rem rgb(0 0 0 / 30%);
		}
		width: 12.5rem;
		height: 16.875rem;
		background-color: #ffffff;
		padding-top: .3125rem;
		margin-bottom: .625rem;
	}
	.right-img-3-1 .img-3 {
		margin: 0 .75rem;
	}
	.img-nuber {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: baseline;
		padding: 0 .625rem;
		margin-bottom: .3125rem;
	}
	.img-nuber .nuber-1 {
		font-size: .75rem;
		color: #e4393c;
	}
	.img-nuber .nuber-1 > span {
		font-size: 1.375rem;
		color: #e4393c;
	}
	.img-nuber .nuber-2 {
		font-size: .75rem;
		color: #a0a0a0;
		line-height: 1.875rem;
	}
	.img-text {
		display: flex;
		justify-content: center;
		font-size: .875rem;
		color: #404040;
		margin-bottom: .5rem;
	}
	.img-text-1 {
		display: flex;
		justify-content: space-between;
		padding: 0 .8125rem;
	}
	.img-text-1 .it-1 {
		font-size: .75rem;
		color: #a0a0a0;
	}
	.img-text-1 .it-2 {
		font-size: .75rem;
		color: #3a880e;
	}
	.page {
		height: 2.5rem;
		display: flex;
		flex-wrap: nowrap;
		margin-bottom: 2.8125rem;
		justify-content: center;
		.in-in {
			width: 2.5rem;
			padding: 0 .125rem;
			outline: none;
			border: .0625rem solid #3a880e;
		}
		.up-100 {
			font-size: .75rem;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: nowrap;
		}
		a {
			display: block;
			line-height: 2.5rem;
			width: 2.5rem;
			color: #616161;
			cursor: pointer;
			&:hover {
				background-color: #616161;
				color: #fff;
			}
		}
		.up- {
			margin: .625rem .625rem;
		}
		.up-1 {
			background-color: #616161;
			a {
				color: #f6f6f6;
			}
		}
		.up {
			width: 5rem;
			height: 1.125rem;
			background-color: #ffffff;
			border: solid .0625rem #dddddd;
			font-size: .875rem;
			color: #626262;
			display: flex;
			padding: .625rem .75rem;
			margin-right: 1.25rem;
			cursor: pointer;
			justify-content: center;
			align-items: center;
		}
		.down {
			cursor: pointer;
		}
		.up-6 {
			cursor: pointer;
		}
	}

	.page .up-2,
	.up-1,
	.up-3,
	.up-4,
	.up-5,
	.up-6,
	.up-7 {
		width: 2.375rem;
		height: 2.375rem;
		background-color: #f6f6f6;
		border: solid .0625rem #dddddd;
		line-height: 2.375rem;
		text-align: center;
		margin-left: .9375rem;
		margin-right: .3125rem;
		font-size: .875rem;
		color: #626262;
	}
	.page .down {
		width: 5rem;
		height: 1.125rem;
		background-color: #f6f6f6;
		border: solid .0625rem #dddddd;
		color: #626262;
		font-size: .875rem;
		display: flex;
		padding: .625rem .75rem;
		margin-right: 1.25rem;
		justify-content: center;
		align-items: center;
	}
	.right-img-contain {
		width: $width;
		margin: 0 auto;
		.right-img-box {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: center;
			.right-img-3-1 {
				flex: 1;
				margin: 0 3.125rem 1.5625rem 0;
				&:nth-child(5n) {
					// 去除第3n个的margin-right
					margin-right: 0;
				}
				&:hover {
					transform: translateY(-0.25rem);
					box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.3);
					cursor: pointer;
				}
			}
		}
	}
	.sale {
		height: 16.875rem;
		display: flex;
		justify-content: space-between;
		margin-bottom: .625rem;
	}
	.sale .sale-left {
		width: 5rem;
		height: 16.875rem;
		background-color: #b3d465;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.875rem;
		color: #404040;
		padding: 0 1.5rem;
	}
	.sale .sale-centre {
		width: 12.25rem;
		height: 16.875rem;
		background-color: #ffffff;
		border: solid .0625rem #c5c5c5;
	}
	.price-buy-container {
		.price-buy-infor {
			margin: 0 .5rem;
			height: 16.875rem;
			width: 5rem;
			writing-mode: vertical-rl;
			background-color: rgb(134, 191, 50);
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				font-size: 2.5rem;
				font-family: "myfont";
			}
		}
		width: $width-contain;
		margin: 0 auto;
		box-sizing: border-box;
		.price-buy {
			margin-top: 2.1875rem;
			display: flex;
			justify-content: space-around;
		}
	}
	.nolike {
		color: #999;
		text-align: center;
		font-size: 1rem;
		margin: 1.25rem 0;
	}
	.search-wapper {
		.search-plus {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 2.1875rem;
			.search {
				position: relative;
				box-sizing: border-box;
				width: 34.375rem;
				float: left;
				padding: 0 .625rem;
				height: 2.75rem;
				font-size: 1rem;
				border: .3125rem solid $bule-color;
				border-right: 1.375rem solid #fff;
				border-left: 1.125rem solid #fff;
				outline: none;
				border-radius: .3125rem;
				color: rgb(195, 195, 195);
			}
			.search-btn {
				position: relative;
				right: 1.8125rem;
				&:hover {
					background-color: rgb(117, 167, 43);
				}
				color: rgb(195, 195, 195);
				height: 2.75rem;
				width: 6.75rem;
				padding: 0;
				border: none;
				background-color: $bule-color;
				color: #f3f3f3;
				font-size: 1rem;
				border-radius: .5625rem;
				border-left: none;
			}
			.camera {
				color: rgb(200, 200, 200);
				position: relative;
				right: 1.8125rem;
			}
		}
	}
	.adv {
		height: 6.875rem;
		margin: .9375rem auto;
	}
	/* ---------------- 产品导航明细 ------------------ */
	.product-1 {
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		height: 37.5rem;
		background-color: #f9f9f9;
		border: solid .0625rem #c5c5c5;
		margin: 0 auto;
		padding-left: 5.625rem;
		padding-top: 1.25rem;
		margin-bottom: 1.25rem;
	}
	.product-1 .pro-nav {
		display: flex;
		flex-wrap: nowrap;
		font-size: .75rem;
		color: #404040;
		margin-bottom: .8125rem;
		justify-content: space-between;
	}
	.product-1 .pro-nav ul {
		width: 39.0625rem;
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.pro-nav ul > li > a {
		font-size: .75rem;
		color: #1859a4;
	}
	.pro-seek {
		display: flex;
		margin-bottom: .8125rem;
	}
	.pro-seek > p {
		line-height: 2.625rem;
	}
	.title {
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		flex-wrap: wrap;
	}
	.title .title-head {
		height: 26.875rem;
		margin-bottom: 1.25rem;
	}
	.title .z-dl-head {
		width: 36.75rem;
		height: 2.6875rem;
		background-color: #ffffff;
		border-radius: .625rem .625rem 0rem 0rem;
	}
	.title .z-dl-head .z-dl-head-l {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: .4375rem 1.4375rem .4375rem 1.4375rem;
	}
	.title .z-dl-head .z-dl-head-l p {
		font-size: 1.625rem;
		letter-spacing: .1875rem;
		color: #ca7f72;
	}
	.title .z-dl-head .z-dl-head-l a {
		display: block;
		font-size: 1rem;
		letter-spacing: .125rem;
		color: #626262;
	}
	.title .z-dl {
		overflow: hidden;
		width: 36.75rem;
		height: 23.75rem;
		display: flex;
	}
	.z-dl .z-dl-left {
		width: 12.3125rem;
		height: 23.75rem;
		background-image: url("../img/index/display/1.png");
		padding-top: 7.3125rem;
		padding-left: 1.375rem;
	}
	.title .z-dl .z-dl-left h4 {
		font-size: 2.25rem;
		letter-spacing: .25rem;
		color: #ffffff;
		margin-bottom: .5rem;
	}
	.title .z-dl .z-dl-left p {
		font-size: 1.25rem;
		letter-spacing: .0625rem;
		color: #ffffff;
		margin-bottom: 1.5rem;
	}
	.z-dl-left a {
		width: 6.9375rem;
		padding: .5rem .875rem;
		background-color: #fbd4c688;
		border-radius: .875rem;
		color: #fff;
		font-size: 1.25rem;
	}
	.z-dl-right {
		width: 25rem;
		height: 23.75rem;
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		flex-wrap: wrap;
	}
	.right_pro-l {
		background-color: rgb(230, 230, 230);
		width: 11.8125rem;
		height: 11.625rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.imgbox {
		width: 80%;
		height: 80%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.imgbox img {
		width: 100%;
		width: auto;
		transition: all 1s;
	}
	.imgbox img:hover {
		transform: scale(1.2);
	}
	.right_pro_l_l p {
		display: block;
		float: left;
		width: 6.25rem;
		height: 1.5rem;
		font-size: .75rem;
		color: #666;
	}
	.right_pro_l_l span {
		display: inline-block;
		font-size: .875rem;
		padding: .1875rem .375rem;
		color: rgb(235, 235, 235);
		background-color: #3a880e;
		margin-right: .625rem;
	}
	.right_pro-price1 {
		float: left;
		font-size: 1.375rem;
		font-weight: normal;
		color: #e40c61;
	}
	.right_pro-price2 {
		font-size: .75rem;
		letter-spacing: .0625rem;
		color: #a09e9e;
		text-decoration: line-through;
	}
	.flow-famer {
		width: $width;
		margin: 1.25rem auto;
		display: flex;
		justify-content: space-around;
		.print {
			p {
				font-size: 1.125rem;
				margin-top: .75rem;
			}
			text-align: center;
			.print-1 {
				i {
					scale: 3.7;
					line-height: 7;
				}
				width: 7.5rem;
				height: 7.5rem;
				border-radius: 50%;
				border: .0625rem solid #616161;
			}
		}
	}
	.news-list {
		.news-list-container {
			position: relative;
			.news-list {
				position: absolute;
				top: 2.5rem;
				right: 9.375rem;
			}
			.news-list-box {
				display: flex;
				justify-content: center;
				position: absolute;
				top: -0.375rem;
				right: 12.5rem;

				.news-list-header {
					h3 {
						line-height: 1.875rem;
					}
					i {
						line-height: 1.6875rem;
					}
					line-height: 1.5625rem;
					a {
						&:hover {
							color: $bule-color;
						}
						color: #616161;
						display: block;
					}
					.news-title-1 {
						font-weight: 500;
						font-family: "myfont";
						width: 3.125rem;
						display: flex;
						justify-content: space-around;
					}
					.news-title-2 {
						font-size: .875rem;
						width: 5rem;
						display: flex;
						justify-content: space-around;
					}
					width: 31.375rem;
					display: flex;
					justify-content: space-between;
				}
			}
			width: $width;
			margin: 2.8125rem auto;
			.news-list {
				display: flex;
				justify-content: center;
				height: 22.875rem;
				overflow: hidden;
				position: absolute;
				top: 1.25rem;
				.news-list-items {
					width: 34.375rem;
					.item-new {
						i {
							font-weight: 600;
							padding: 0;
							line-height: 1.125rem;
							width: .875rem;
							scale: 0.85;
							border-top: .125rem solid #f63051;
							margin-right: .375rem;
							color: #f63051;
						}
						p {
							margin-left: .5rem;
							background-size: 100% 100%;
							position: relative;
							top: -0.125rem;
							background-color: #f60;
							display: inline-block;
							padding: 0 .125rem;
							text-align: center;
							vertical-align: middle;
							font-style: normal;
							color: #fff;
							overflow: hidden;
							line-height: 1rem;
							height: 1rem;
							font-size: .75rem;
							border-radius: .25rem;
							font-weight: 200;
						}
						.t-1 {
							color: #fe2d46;
						}
						.t-2 {
							color: #ff7112;
						}
						.t-3 {
							color: #faa90e;
						}
						span {
							color: #9195a3;
						}
						a {
							&:hover {
								color: $bule-color;
							}
							color: #616161;
							display: inline-block;
						}
						.title-top {
							margin-right: .5rem;
							font-weight: 600;
						}
						line-height: 2.25rem;
					}
				}
			}
		}
	}
	.recommend-box {
		.recommend-head {
			margin-left: 7.5rem;
			a {
				color: #616161;
				// &:hover {
				// 	color: $green-color;
				// 	border-bottom: .1875rem solid $bule-color;
				// }
				display: inline-block;
				position: relative;

				&:after {
					content: "";
					width: 0;
					height: .1875rem;
					background: $bule-color;
					position: absolute;
					top: 100%;
					left: 0%;
					transition: all 0.4s;
				}
				&:hover:after {
					left: 0%;
					width: 100%;
				}

				&:nth-child(2) {
					border-bottom: .1875rem solid $bule-color;
				}
				margin-right: .625rem;
			}
		}
		.recommend-box-body {
			width: 20.9375rem;
			margin-left: 6.5625rem;
			display: flex;
			flex-direction: column;
			.recommend {
				border: .0625rem solid #1d99e35c;
				display: flex;
				justify-content: space-around;
				align-items: center;
				width: 18.75rem;
				height: 7.5rem;
				.infor {
					p {
						font-size: 1rem;
						font-weight: bold;
					}
					display: flex;
					flex-wrap: wrap;
					justify-content: space-around;
					width: 8.75rem;
					height: 6.25rem;
					span span {
						color: #bb281c;
						font-size: .875rem;
						font-weight: bold;
					}
					.number {
						width: 6.875rem;
						align-items: center;
						display: flex;
						flex-wrap: nowrap;
					}
					.price {
						color: #bb281c;
						font-size: .875rem;
						font-weight: bold;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
				.img-background {
					width: 6.9375rem;
					height: 6.9375rem;
					background: url(../img/news/background/12.png);
					background-position: -9.8125rem -5.75rem;
				}
			}
		}
	}
		#colee_right{
			width: 59.25rem;
			margin: 0 auto;
		}	
		.right-btn{
			
			width: 59.25rem;
			margin: 0 auto;
		}
		.table-box{
			width: 61.25rem;
			margin: 0 auto;
			background-color: #FCFCFC;
			
			a{
				color: #616161;
				background-color: #fcfcfc;
				
			}
			.img-revolving-lantern{
				border: .0625rem solid $green-color;
				padding: 0 1.25rem;
				box-shadow: 0 0 .625rem rgba(0, 0, 0, .2)
			}
			.img-header-a{
				a{
					display: block;

				}
			}
		}
}
