@charset "UTF-8";
@font-face {
  /* 指定字体的名字 */
  font-family: "myfont";
  /* 服务器中字体的路径 */
  src: url("../fonts/FZSuHJW.TTF") format("truetype");
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  color: #333;
  /* 高度塌陷修复 */
  background-color: #f3f3f3;
  /*---------------- head部分---------------- */
  /*---------------- 脚部---------------- */
}
body .clearfix::before,
body .clearfix::after {
  content: "";
  display: table;
  clear: both;
}
body i {
  padding: 0 4px;
}
body a {
  color: #f3f3f3;
  text-decoration: none;
}
body a:hover {
  color: #8dc742;
}
body .contain {
  /* 固定容器的宽度 */
  width: 1226px;
  /* 设置容器居中 */
  margin: 0 auto;
  box-sizing: border-box;
}
body .header {
  border-bottom: 1px solid rgb(220, 220, 220);
}
body .head {
  background: linear-gradient(to right, #1d99e3, rgb(134, 191, 50));
}
body .header-footer {
  background-color: #f3f3f3;
}
body .header-footer .header-footer-footer {
  /* 固定容器的宽度 */
  width: 1226px;
  /* 设置容器居中 */
  margin: 0 auto;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
body .header-footer .header-footer-footer a {
  border-right: 1px solid #616161;
  color: rgb(134, 191, 50);
  padding: 11px 40px;
}
body .header-footer .header-footer-footer a:hover {
  color: #f3f3f3;
  background-color: rgb(134, 191, 50);
}
body .header-footer .header-footer-footer ol {
  display: flex;
  width: 100%;
  align-self: center;
}
body .header-footer .header-footer-footer .classification {
  width: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header-footer .header-footer-footer .classification a {
  border-left: 1px solid #616161;
  padding: 13px 33px;
}
body .header-footer .header-footer-footer .footer-bar {
  display: flex;
  justify-content: flex-end;
}
body .header-footer .header-footer-footer .footer-bar .topbar {
  width: 1000px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .header-footer .header-footer-footer .footer-bar .topbar li {
  line-height: 40px;
}
body .header-footer .header-footer-footer .footer-bar .topbar li:first-child {
  border-left: 1px solid #616161;
}
body .header-box {
  color: #f3f3f3;
  /*---------------- qrcode---------------- */
}
body .header-box .header-top {
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 14px;
  color: #f3f3f3;
}
body .header-box .header-top .header-left {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header-box .header-top .header-right {
  height: 100%;
  width: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header-box .header-top .header-right .loc-an-box {
  height: 64px;
  line-height: 64px;
  cursor: pointer;
}
body .header-box .header-top .header-right .loc-an-box {
  position: relative;
  top: 0;
  left: 0;
  width: 90px;
  height: 22px;
  overflow: hidden;
  display: block;
}
body .header-box .header-top .header-right .loc-mc-box {
  width: 90px;
  height: 160px;
  overflow: hidden;
  position: relative;
  animation: locmoveclipslider 6s infinite ease-out;
  animation-delay: 1s;
}
body .header-box .header-top .header-right .loc-mc-box .loc-mc-box__text:nth-child(1) {
  position: absolute;
  top: -6px;
  left: 5px;
  width: 100%;
  line-height: 36px;
  text-align: center;
}
body .header-box .header-top .header-right .loc-mc-box .loc-mc-box__text:nth-child(2) {
  position: absolute;
  top: 50px;
  left: 5px;
  width: 100%;
  line-height: 36px;
  text-align: center;
}
body .header-box .header-top .header-right .loc-mc-box .loc-mc-box__text:nth-child(3) {
  position: absolute;
  top: 103px;
  left: 5px;
  width: 100%;
  line-height: 36px;
  text-align: center;
}
@keyframes locmoveclipslider {
  0% {
    transform: translateY(0);
  }
  5% {
    transform: translateY(-57px);
  }
  50% {
    transform: translateY(-57px);
  }
  55% {
    transform: translateY(-110px);
  }
  to {
    transform: translateY(-110px);
  }
}
body .header-box .header-body {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header-box .header-body .logo {
  height: 100%;
}
body .header-box .header-body .header-body-right {
  width: 270px;
  display: flex;
  justify-content: space-between;
}
body .header-box .header-body .search {
  position: relative;
}
body .header-box .header-body .search .search {
  box-sizing: border-box;
  width: 540px;
  float: left;
  padding: 0 10px;
  height: 44px;
  font-size: 16px;
  border: 5px solid #8dc742;
  border-right: 6px solid #fff;
  border-left: 6px solid #fff;
  outline: none;
  color: rgb(195, 195, 195);
}
body .header-box .header-body .search .search-btn {
  color: rgb(195, 195, 195);
  height: 44px;
  width: 52px;
  padding: 0;
  border: none;
  background-color: rgb(134, 191, 50);
  color: #616161;
  font-size: 16px;
  border: 1px solid rgb(224, 224, 224);
  border-left: none;
}
body .header-box .header-body .search .search-btn:hover {
  background-color: rgb(117, 167, 43);
}
body .header-box .header-body .search .camera {
  color: rgb(200, 200, 200);
  position: absolute;
  top: 14px;
  right: 55px;
}
body .header-box .qr {
  position: relative;
  top: 8px;
  right: -40px;
  height: 100%;
}
body .header-box .qr p {
  display: flex;
  justify-content: center;
  font-size: 10px;
}
body .header-box .qr:hover {
  color: #f3f3f3;
}
body .header-box .scan {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .header-box .scan .broder {
  position: absolute;
  inset: 0;
  background: url(../img/Qrcode/border.png);
  background-size: 65px;
  background-repeat: no-repeat;
  animation: animateText 2s linear infinite;
}
body .header-box .scan .qrcode {
  position: relative;
  width: 65px;
  height: 65px;
  background: url(../img/Qrcode/QR_Code01.png);
  background-size: 65px;
}
body .header-box .scan .qrcode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url(../img/Qrcode/QR_Code02.png);
  background-size: 65px;
  overflow: hidden;
  animation: animate 4s ease-in-out infinite;
}
body .header-box .scan .qrcode::after {
  content: "";
  position: absolute;
  inset: 8px;
  width: calc(100% - 15px);
  height: 2px;
  background: #35fd5c;
  filter: drop-shadow(0 0 20px #35fd5c) drop-shadow(0 0 60px #35fd5c);
  animation: animateLine 4s ease-in-out infinite;
}
@keyframes animate {
  0%, 100% {
    height: 20px;
  }
  50% {
    height: calc(100% - 20px);
  }
}
@keyframes animateLine {
  0% {
    top: 0;
  }
  50% {
    top: calc(100% - 20px);
  }
}
@keyframes animateText {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
body .footer-head {
  background-image: linear-gradient(to right, #1d99e3, rgb(134, 191, 50));
}
body .footer-head .footer-header {
  /* 固定容器的宽度 */
  width: 1226px;
  /* 设置容器居中 */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}
body .footer-head .footer-header .introduce {
  position: relative;
  width: 120px;
  height: 120px;
  border: 1px solid #f3f3f3;
  border-radius: 50%;
}
body .footer-head .footer-header .introduce i {
  position: absolute;
  top: 50px;
  left: 50px;
  transform: scale(3.5, 3.5);
  color: #f3f3f3;
}
body .footer-head .footer-header .introduce .foolter-header-title {
  font-family: "myfont";
  font-size: 22px;
  position: absolute;
  top: -25px;
  left: 39px;
  color: #f3f3f3;
}
body .footer-head-body {
  background-image: linear-gradient(to right, #1d99e3, rgb(134, 191, 50));
}
body .footer-head-body .footer-header-body {
  /* 固定容器的宽度 */
  width: 1226px;
  /* 设置容器居中 */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .footer-head-body .footer-header-body span {
  position: relative;
  top: -30px;
  left: 5px;
  width: 170px;
  color: #f3f3f3;
  font-size: 14px;
}
body .footer-body {
  background-color: rgb(64, 64, 64);
}
body .footer-body .about {
  padding-top: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .footer-body .about span {
  color: #000;
  margin: 0 18px;
}
body .foolter-bootm {
  padding-top: 10px;
  background-color: rgb(64, 64, 64);
  color: #f3f3f3;
  font-size: 14px;
}
body .foolter-bootm .infor {
  text-align: center;
}
body .foolter-bootm .infor li {
  padding-top: 5px;
}

/* v2.0 | 20110126
  http://meyerweb.com/eric/tools/css/reset/ 
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}/*# sourceMappingURL=mixins.css.map */